div{
    padding: 30px;
    color: white;
    margin: 10px;
    border: 2px solid black;
    text-align: center;
}

.main{
    background-color: rgb(247, 5, 5);
}
.contacts{
    background-color: cyan;
}
.intro{
    background-color: orange;
}