@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-size: 1.5rem;
    font-family: Kanit;
}
.block{
 height: 20vh;
 width: 20vh;
 background-color: aquamarine;
 padding: 1rem;
 border: 2px solid black;
}
.left{
    float: left;
    margin-right: 1rem;
}
.right{
    float: right;
    margin-left: 1rem;
}
/* .clear{
    clear: both;
} */
section{
    background-color: blueviolet;
    border: 2px solid black;
    padding: 2rem;
  /*   overflow: auto; */
    display: flow-root;
    margin-bottom: 30px;
}
section1{
    background-color: rgb(43, 128, 226);
    border: 2px solid black;
    padding: 2rem;
  /*   overflow: auto; */
    display: flow-root;
    margin-bottom: 30px;
}
section2{
    background-color: rgb(226, 198, 43);
    border: 2px solid black;
    padding: 2rem;
  /*   overflow: auto; */
    display: flow-root;
    margin-bottom: 30px;
}
section3{
    background-color: rgb(232, 102, 204);
    border: 2px solid black;
    padding: 2rem;
  /*   overflow: auto; */
    display: flow-root;
    margin-bottom: 30px;
}
section4{
    background-color: rgb(241, 99, 99);
    border: 2px solid black;
    padding: 2rem;
  /*   overflow: auto; */
    display: flow-root;
    margin-bottom: 30px;
}
