/* img{
    border-radius: 30%;
    border: 3px solid black;
}
 */

/*  thumbail images */
/* img {
    border: 3px solid black;
    border-radius: 20%;
    padding: 1rem;
    width: 150px;
}*/

img:hover{
    transform: scaleX(-1);
} 

/* Polaroid images */

body{
    margin:25px;
    background-color: cyan;
    width: 100%;
}
div.pola{
    background-color: rgb(251, 253, 253);
    width: 70%;
    box-shadow: 0 4px 8px 0 rgb(16, 16, 16), 0 6px 20px 0px rgb(14, 14, 14);
    margin-bottom: 25px;
}

div.container{
    text-align: center;
    padding: 10px 20px;
}
