@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: 0 ;
}

body{
    margin: 0.5rem;
    font-family: Kanit;
    text-align: center;
}

nav{
    border: 2px solid blueviolet;
    border-radius: 2rem;
    margin: 0 auto 1rem;/**top - middle - bottom **/
    max-width: 600px;
    font-size: 3rem;
    line-height: 8rem;
    background-color: aliceblue;
}
h2{
    padding:1rem;
    background-color: rgb(231, 121, 140);
    border-radius: 2rem 2rem 0 0;/**top right- top left-bottom right-bottom left**/ 
}

ul{
   /** list-style-position: inside;**/
    list-style-type: none;

}
li{
    border-top: 3px groove pink;
}
li a{
    display:block;
}
li a,
li a:visited {
    text-decoration: none;
    color: blueviolet
}
li a:hover,
li a:focus{
    background: blueviolet;
    color:bisque;
    cursor:pointer;
}
li:last-child a{
    border-radius : 0 0 2rem 2rem;/**top right, left then bottom right, left**/
}
p{
    font-size: 2rem;
}
