@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Kanit;
    font-size: 1.5rem;
    min-height: 200vh;
    background-color: orange;
}

.outer-container{
    border: 4px dashed rgb(250, 4, 4);
    width: 75vw;
    height: 85vw;
    margin: 40px auto;
    position: relative;
}
.inner-container{
    border: 3px solid orange;
    width: 40vw;
    height: 50vw;
    margin: 200px auto;
   /*  position:relative; */
}

.box{
    width: 150px;
    height: 150px;
    color:white;
    padding: 1rem;
    
}

.absolute{
    background-color: rgb(43, 230, 168);
    position:absolute;/* Depends upon it's ancestral values and it's relative to that*/ 
    top: 0px;
    /* left: -1000px; if you want ot take something of the page */
    left: 0;
    z-index: 1;
}

.relative{
    background-color: rgb(212, 101, 22);
    position: relative;/* relative to it's parent container already without having to define it */
    top:250px;
    left:170px;
}

.fixed{
    background-color: rgb(25, 238, 238);
    position: fixed;/* fixed position when the page is scrolled up and down */
    top:10px;
    left:100px;
}

.sticky{
    background-color:rgb(101, 146, 229);
    position: sticky;/* it sticks at the top and moves when the container catches up to it */
    top: 100px;
    left: 100px;
}

/* Above code is just for learning process */

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
}

.color1{
    background-color: rgb(255, 127, 185);
}
.color2{
    background-color: rgb(168, 127, 246);
}
.color3{
    background-color: rgb(108, 241, 128);
}

header{
    color:aliceblue;
    text-align: center;
    height: 120px;
    font-size: 5rem;
    border: 2px solid black;
}

header{
    position: sticky;
    top: 0;
}
footer{
    background-color:bisque;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:visited{
    color:black;
}
.Social{
    background-color: cornflowerblue;
    color: white;
    font-size: inherit;
    padding: 0.5rem;
    position: fixed;
    top: 88.7%;
    left: 0;
    border: 3px solid black;
    z-index: 1;
}